<!DOCTYPE html>

<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trips history</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>
  <body>
    <h1>Trips History</h1>
    <div trips-history ng-cloak>
      <!-- XXX Person
        - Validate inputs (including checking for dupes)
        - Edit a person who already exists
        - Prevent deletion if the person is still referenced by a trip
      -->
      <form>
        <input type=text placeholder="Person's name" ng-model="ctrl.personName">
        <input type=text placeholder="Colour (in hex)" ng-model="ctrl.personColour">
        <button value="add" ng-click="ctrl.addPerson()">Add</button>
      </form>
      <ul ng-repeat="person in ctrl.people | orderBy:''">
        <li style="color: {{person.colour}}">{{person.name}}
      </ul>
      <!-- XXX City
        - Add a city
        - Validate inputs (including checking for dupes)
      -->
      <!-- XXX Trip
        - Add a trip (limit travelers to people, same for city)
        - Try <input type=month>
      -->
    </div>
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="trips_ui.dart"></script>
    <script src="packages/browser/dart.js"></script>
    <!-- Bootstrap -->
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
