<!DOCTYPE html>

<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trips history</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="index.css">
  </head>
  <body class="container" trips-history>
    <h1>Trips History</h1>
    <!-- XXX
      - Save to JSON
      - Load from JSON
    -->
    <ul class="nav nav-tabs row">
      <li class="active"><a href="#people" data-toggle="tab">People</a>
      <li><a href="#cities" data-toggle="tab">Cities</a>
      <li><a href="#trips" data-toggle="tab">Trips</a>
      <li><a href="#output" data-toggle="tab" ng-cloak>{{ctrl.importExportState}}</a>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="people">
        <!-- XXX Person
          - Validate inputs (including checking for dupes)
          - Edit a person who already exists
          - Prevent deletion if the person is still referenced by a trip
        -->
        <form class="row form-inline">
          <input type="text" placeholder="Person's name(s)" ng-model="ctrl.personName">
          <!-- Should be `type=color`, but AngularDart doesn't like that. -->
          <input id="personColour" type="text" placeholder="#000000"
              ng-model="ctrl.personColour">
          <button class="btn btn-primary" ng-click="ctrl.addPerson()">Add</button>
        </form>
        <ul class="row list-inline" ng-cloak>
          <li ng-repeat="person in ctrl.people | orderBy:''"
              style="color: {{person.colour}}">{{person.name}}
        </ul>
      </div>
      <div class="tab-pane" id="cities">
          <!-- XXX City
            - Allow specifying the visitor?
            - Validate inputs (including checking for dupes)
          -->
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-xs-2">City name</label>
              <div class="col-xs-3">
                <input type="text" class="form-control" ng-model="ctrl.cityName">
              </div>
            </div>
            <div class="form-group">
              <label for="countryCode" class="control-label col-xs-2">Country code</label>
              <div class="col-xs-1">
               <input type="text" id="countryCode" class="form-control col-xs-1"
                  ng-model="ctrl.cityCountryCode">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2">longitude</label>
              <div class="col-xs-3">
               <input type="text" class="form-control"
                  ng-model="ctrl.cityLongitude">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2">latitude</label>
              <div class="col-xs-3">
                <input type="text" class="form-control"
                    ng-model="ctrl.cityLatitude">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-2 col-xs-10">
                <label><input type="checkbox" ng-model="ctrl.cityLivedIn">
                  Lived here
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-primary" ng-click="ctrl.addCity()">
                  Add
                </button>
              </div>
            </div>
          </form>
          <dl ng-cloak>
            <div ng-repeat="city in ctrl.cities | orderBy:''">
              <dt>
                {{city.locality}}, {{city.country}}
                <span ng-if="city.livedHere" class="glyphicon glyphicon-home"></span>
              </dt>
              <dd>(
                <a href="http://www.openstreetmap.org/#map=11/{{city.latitude}}/{{city.longitude}}">
                  {{city.longitude}}, {{city.latitude}}
                </a>
                )</dd>
            </div>
          </dl>
       </div>
       <div class="tab-pane" id="trips">
          <!-- XXX Trip
            - Try <input type=month>
            - Validate a person is selected
            - Validate a city is selected before clicking "Add city"
          -->
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-xs-2">Name</label>
              <div class="col-xs-10">
                <input type="text" class="form-control" ng-model="ctrl.tripName">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2">When</label>
              <div class="col-xs-4">
                <input type="text" id="tripYear" placeholder="YYYY" ng-model="ctrl.tripYear">
                -
                <input type="text" id="tripMonth" placeholder="MM" ng-model="ctrl.tripMonth">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2">Traveler</label>
              <div class="col-xs-10">
                <select class="form-control" ng-model="ctrl.tripPerson">
                  <option>
                  <option ng-repeat="person in ctrl.people | orderBy: ''" ng-cloak>
                    {{person.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2">Home</label>
              <div class="col-xs-10">
                <select class="form-control" ng-model="ctrl.tripStartingPoint">
                  <option>
                  <option ng-repeat="city in ctrl.citiesCalledHome | orderBy:''" ng-cloak>
                    {{city.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <button class="btn col-xs-2" ng-click="ctrl.appendCityToTrip()">
                Add city
              </button>
              <div class="col-xs-10">
                <select class="form-control" ng-model="ctrl.tripCity">
                  <option>
                  <option ng-repeat="city in ctrl.cities | orderBy: ''" ng-cloak>
                    {{city.locality}}, {{city.country}}
                  </option>
                </select>
              </div>
            </div>
            <ol ng-cloak>
              <li ng-repeat="city in ctrl.tripVisited">{{city.name}}
            </ol>
            <div class="form-group">
              <div class="col-xs-offset-1 col-xs-1">
               <button class="btn btn-primary" ng-click="ctrl.addTrip()">Add</button>
              </div>
            </div>
          </form>
          <ul class="list-group" ng-cloak>
            <div ng-repeat="trip in ctrl.trips | orderBy:''" class="list-group-item">
              <h4>{{trip.description}}</h4>
              <p class="tripVisitedBy">{{trip.who.name}}</p>
              <ul class="list-unstyled">
                <li ng-repeat="city in trip.visited">{{city.name}}
              </ul>
            </div>
          </ul>
       </div>
       <div class="tab-pane" id="output">
         <div class="row">
           <button id="importExportButton" class="btn btn-primary"
              ng-click="ctrl.importOrExport()">Update</button>
         </div>
         <div class="row">
           <textarea id="importExportArea" class="row col-xs-12"
              ng-model="ctrl.importExport"></textarea>
         </div>
       </div>
    </div>
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="trips_ui.dart"></script>
    <script src="packages/browser/dart.js"></script>
    <!-- Bootstrap -->
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
