.nav-tabs {
  margin-bottom: 1em;
}

#personColour {
  width: 6em;
}

#countryCode {
  width: 4em;
}

dd {
  margin-left: 1em;
}

#tripYear {
  width: 4em;
}

#tripMonth {
  width: 2em;
}

.tripVisitedBy {
  color: gray;
  size: small;
}
